<h1>Artist Summary for ArtistArtworks</h1>

<p>This is a summary table to view our artists and the count of their works in our database. 
  Clicking on Update will take you to a page to edit the artist and artworks selected. This page 
  updates the ArtistArtworks connections in our intersection table as needed.</p>
  
<table>
  <thead>
        <tr>
            <th>ID</th>
            <th>Artist Name</th>
            <th>Artwork Count</th>
            <th></th>
        </tr>
  </thead>
  <tbody>
    {{#each Summary}}
      <tr>
        <td>{{this.ID}}</td>
        <td>{{this.Artist_Name}}</td>
        <td>{{this.Artwork_Count}}</td>
        <td>
          <a href="/edit-artist/{{this.ID}}">Update</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<form action="/reset-database" method="POST" style="margin-top: 1em;">
  <button class="reset-btn" type="submit">Reset Database</button>
</form>
