<h1>Art Periods</h1>

<p>This table holds different art periods so the artworks are also searchable by the general period of time they were created in. 
    The periods are represented by codes  for consistency, representing a century and then clarifying which part of the century: 
    Early, Mid, or Late.</p>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Period</th>
            <th>Century</th>
            <th>Century Part</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, century, and centuryPart }}
        {{#each ArtPeriods}}
        <tr>
            <td>{{this.Period}}</td>
            <td>{{this.Century}}</td>
            <td>{{this.Century_Part}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>