<article>
<h1>Gender Codes</h1>
<p>This is to allow a user to search for artists of a certain gender on our website. 
    The genders are represented by codes for consistency.</p>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each GenderCodes.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id and description }}
        {{#each GenderCodes}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</article>