{{! Source code was used and adapted from: 
https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948 
Used for: Creating the Node.JS starting code and the CRUD pages for our "Artists" page and home page 
Date: 5/6/2025

On: 5/13/2025:
For: home.hbs, artists.hbs, artworks.hbs, locations.hbs, gendercodes.hbs, mediums.hbs, CSS
Source: Class exploration - Web Application Technology
Starter code from class was used to model our basic webpages and the start of our CSS }}

<article>
<h1>Gender Codes</h1>
<p>This is to allow a user to search for artists of a certain gender on our website. 
    The genders are represented by codes for consistency.</p>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each GenderCodes.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id and description }}
        {{#each GenderCodes}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</article>