{{! Source code was used and adapted from: 
https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948 
Used for: Creating the Node.JS starting code and the CRUD pages for our "Artists" page and home page 
Date: 5/6/2025

On: 5/13/2025:
For: home.hbs, artists.hbs, artworks.hbs, locations.hbs, gendercodes.hbs, mediums.hbs, CSS
Source: Class exploration - Web Application Technology
Starter code from class was used to model our basic webpages and the start of our CSS }}

<article>
<h1>Artly Art Searcher</h1>
<div class="homepageDescription">
<p>Have you ever tried searching for a specific artwork, only to become bombarded with irrelevant  results or a lack of details about the piece? You are not alone! Our Artly Art Searcher website will simplify this process by allowing admins to search for artworks from a specific artist, gender, time period, and/or medium with ease.  Results will be found based on these preferences. Our platform enables admins to efficiently search for an artist, or even to update our database with new artists or artworks. This will allow for the Artly Art Searcher to keep a searchable archive of artists and their art.
</p>
<p>Artly Art Searcher contains approximately 80 masterpieces by about 60 artists from around the world, and from modern artists to classic art pieces. It can scale up to hold more than 10,000 works if needed.  Artworks from the 18th century to present can be found on this platform, with each period represented as a century. Those 4 centuries (1700s to the 2000s) are further split into 3 century segments each, recording the artworks as being from the Early, Mid or Late century. 
</p>
<p>Artist information is kept on the Artists table, and the information about each artwork is stored on the Artworks table. Cities, states and countries related to the artists are kept on the Locations table, which will connect to the Artists table to record each artist’s birthplace and current residence if that information is available. The time periods the art was created in are kept in the ArtPeriods table, the mediums used are in their own Mediums table to keep consistency and make searching by medium easy. Available genders are on their own category table as codes to give a wide variety of consistent gender options for the artists and to allow neopronouns.
</p>
<p>Once the results have been populated on our website based on the admin’s art preferences, all of the relevant artworks that match their preferences will be listed. Once the admin selects a piece of art from the search results that most closely matches their interests, important details about that work of art will be displayed, including the artist, their gender, the time period in which the artwork was created, and the medium used. Whether admins are updating or retrieving art data, Artly Art Searcher enables them to do so efficiently and in an organized manner. Artificial Intelligence (AI) art will not be allowed on Artly Art Searcher, making our website art archive a great place to search for non-AI generated art and artists.
</p>
</div>
</article>