{{! Source code was used and adapted from: 
https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948 
Used for: Creating the Node.JS starting code and the CRUD pages for our "Artists" page and home page 
Date: 5/6/2025

On: 5/13/2025:
For: home.hbs, artists.hbs, artworks.hbs, locations.hbs, gendercodes.hbs, mediums.hbs, CSS
Source: Class exploration - Web Application Technology
Starter code from class was used to model our basic webpages and the start of our CSS }}

<article>
<h1>Locations</h1>
<p> This table holds locations associated with the artists. These locations
    hold the artist’s birth location and main residence as far as the information is known. 
    States, provinces and territories are all included in the “state” field.</p>

{{! READ table }}
<table>
   <thead>
    {{! For the table header row, we print the DB attribute names }}
        <tr>
           <th>ID</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, country, state and city }}
        {{#each Locations}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Country}}</td>
            <td>{{this.State}}</td>
            <td>{{this.City}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</article>