<h1>Locations</h1>

<p> This table holds locations associated with the artists. These locations
    hold the artist’s birth location and main residence as far as the information is known. 
    States, provinces and territories are all included in the “state” field.</p>

{{! READ table }}
<table>
   <thead>
    {{! For the table header row, we print the DB attribute names }}
        <tr>
           <th>ID</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, country, state and city }}
        {{#each Locations}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Country}}</td>
            <td>{{this.State}}</td>
            <td>{{this.City}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>