{{! Source code was used and adapted from: 
https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948 
Used for: Creating the Node.JS starting code and the CRUD pages for our "Artists" page and home page 
Date: 5/6/2025

On: 5/13/2025:
For: home.hbs, artists.hbs, artworks.hbs, locations.hbs, gendercodes.hbs, mediums.hbs, CSS
Source: Class exploration - Web Application Technology
Starter code from class was used to model our basic webpages and the start of our CSS }}

<article>
<h1>Mediums</h1>
<p>These are codes to represent different artistic mediums (like acrylic, oil, photography, mixed media, etc.).</p>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each Mediums.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, name, gender, sexuality, birth and res id }}
        {{#each Mediums}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</article>