<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Artly Art Searcher</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/artists">Artists</a>
        <a href="/artPeriods">Art Periods</a>
        <a href="/artworks">Artworks</a>
        <a href="/genderCodes">Gender Codes</a>
        <a href="/locations">Locations</a>
        <a href="/mediums">Mediums</a>
    </nav>

    {{{body}}}

</body>
</html>