{{! On: 5/13/2025:
For: home.hbs, main.hbs, artists.hbs, artworks.hbs, locations.hbs, gendercodes.hbs, mediums.hbs, CSS
Source: Class exploration - Web Application Technology
Starter code from class was used to model our basic webpages and the start of our CSS}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Artly Art Searcher</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/artist-summary">Artist Summary</a>
        <a href="/artists">Artists</a>
        <a href="/artworks">Artworks</a>
        <a href="/artperiods">Art Periods</a>
        <a href="/gendercodes">Gender Codes</a>
        <a href="/locations">Locations</a>
        <a href="/mediums">Mediums</a>
    </nav>

    {{{body}}}

</body>
</html>