
:root {
    --heading-size: 150%;
    --light-turqoise: #79D9CF;
    --yellow-gray: #F9F6EF;
    --sunflower-yellow: #F5C650;
    --sunflower-orange: #F2911B;
    --seed-brown: #3F210F;
  }

  .sofia-sans-condensed-myBasicFontChoice {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 80;
    font-style: normal;
    }

.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  body {      
    background-color: var(seed-brown);
    background-image: url(/src/assets/van-gogh-sunflowers.png);
    background-repeat: no-repeat, transparent;
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
    color: var(--pale-sky-blue);
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 1.2em;
    line-height: 1.2;
    margin: 2% 8%;
    padding: 0;
    display: block;
  }

h1, h2 { margin-left: 16px;}
table {border-collapse: collapse;margin-left: 32px;}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {background-color: var(--sunflower-orange);}
tr:nth-child(even) /*{background-color: #f9f9f9;}*/
.cuForm { margin-left: 32px;}
input, select { margin-bottom: 4px;margin-right: 12px;}
nav {background-color: var(--light-turqoise);padding: 16px;}
a {margin-left: 16px;}
.homepageDescription {margin-left: 32px;}